body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px; /* fixed gap between board and input */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  gap: 5px;
}

.tile {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.green {
  background-color: green;
}

.yellow {
  background-color: #ffdd00;
}

.gray {
  background-color: lightgray;
}